<div class="container-fluid">
    <div class="row">
        <!-- Log in page -->
        <div class="col-md-6">
            <div class=" col-md-12 d-flex logInForm">
                <div class="col-md-8">
                    <div class="mt-5">
                        <h2 class="text-center">LOGIN</h2>
                    </div>
                    <div class="text-center text-black-50">
                        <small>Please enter your credintials</small>
                    </div>
                    <!-- <div *ngIf=""></div> -->
                    ..
                    <form>
                    <div class="mt-3">
                        <label class="ms-1 label-text" for="username">Username</label>
                        <input type="text" class="form-control mt-1 rounded-input" placeholder="Enter your username">
                    </div>
                    <div class="mt-3">
                        <label class="ms-1 label-text" for="Password">Password</label>
                        <input type="password" class="form-control mt-1 rounded-input" placeholder="********">
                    </div>
                    <div class="mt-2 row gx-5">
                        <div class="col-sm-6 col-md-8">
                            <input type="checkbox">
                            <label class="ms-1 label-text" for="remember me">Remember me</label>
                        </div>
                        <div class="text-end col-6 col-md-4 label-text">
                            Forgot password
                        </div>
                    </div>
                    <div>
                        <button class="btn mt-3 col-md-12 text-light rounded-btn"
                            style="background-color: #612550;">Sign
                            In</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- side page -->
        <div class="col-md-6 side-bacground ">
            <div>
                <div class="container mt-5 text-center">
                    <img src="assets/images/logoimg.png" alt="Example Image" class="img-fluid ">
                </div>

            </div>


        </div>
    </div>
</div>