<div class="container">
    <!-- appbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <div class="container-fluid" style="height: 60px;">
            <div>
                <img src="assets/images/logoimg.png" alt="Example Image" class="img-fluid">
            </div>
            <div>
                <!-- <icon class="fas fa-user-circle text-light" style="font-size: 30px;"></icon> -->
            </div>
        </div>
    </nav>
    <!-- content -->
    <div>
        <!-- home -->
        <div>

        </div>
    </div>
</div>