<!-- appbar -->
<header class=" navbar navbar-expand-lg navbar-light text-center align-items justify-content-between d-flex flex-wrap">

    <div class="container-fluid" style="height: 70px;">
        <div>
            <img src="assets/images/logoimg.png" alt="Example Image" class="img-fluid navbar-brand"
                style="height: auto; width: 70px;">
        </div>

        <div class="row ">
            <ul style="font-size: 23px; color: white;">
                <i class="bi bi-person-circle" ></i>
                Welcome Sarah
            </ul>
        </div>
    </div>
</header>
<!-- content -->
<div class="container-fluid mt-5">
    <div>
        <!-- home -->
        <div class="card shadow-lg p-3 mb-5 " style="height: 80%; width: 80%;">
            <div class="card-header">
                Home page
            </div>
            <div class="card-body" style="height: 60vh;">
            </div>
        </div>
    </div>